@import "../../global/theme.scss";
.Prompt {
  position: absolute;
  bottom: 150px;
  min-width: 250px;
  padding: 5px 10px;

  background: rgba(0, 0, 0, 0.5);

  color: white;
  font: {
    size: 18px;
  }
  border-radius: 20px;
  transition: all 0.5s;
  &_anim {
    &-enter {
      transform: translateY(30px);
      opacity: 0;
      &-active {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    &-exit {
      &-active {
        transform: translateY(30px);
        opacity: 0;
      }
    }
  }
  .success {
    font-weight: bold;
    color: $color-primary;
  }
  .danger {
    font-weight: bold;
    color: $color-danger;
  }
}
