$color-primary: #1ed760;

#Auth {
  position: relative;
  display: flex;
  align-self: center;

  width: 900px;
  height: 600px;

  background: white;
  border-radius: 10px;

  animation: Auth 1s ease-in-out;

  &_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60%;

    border-radius: 10px;
    background: white;

    transition: transform 1.5s ease;
  }
  &_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    height: 620px;

    background: url("../../assets/img/Auth_panel_bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    transition: transform 1.5s ease;
    transform: translate(0, -10px);

    span:first-child {
      font: {
        size: 34px;
        weight: bold;
      }
      color: white;
    }
    &_header {
      margin-bottom: 20px;
      transition: opacity 0.25s;
    }
    &_button {
      transition: opacity 0.25s;
    }
  }
  &_header {
    font: {
      size: 24px;
      weight: bold;
    }
    margin-bottom: 20px;
  }
  &_forgot {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &_resend {
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &_bg {
    pointer-events: none;
    left: -170px;
    bottom: 0;
    position: absolute;
    animation: Auth_bg 0.75s ease-in-out 0.25s backwards;
    transition: all 0.75s ease-in-out;
  }
}

#AuthRegisterVerify {
  animation: fade 0.5s ease-in-out;
}
#AuthForgotVerify {
  animation: fade 0.5s ease-in-out;
}
#AuthForgotChange {
  animation: fade 0.5s ease-in-out;
}

.moveRight {
  transform: translateX(360px);
}
.moveLeft {
  transform: translate(-540px, -10px) !important;
}
.bgMoveLeft {
  transform: translate(-60px, 10px);
}

@keyframes Auth {
  from {
    opacity: 0;
    background: transparent;
  }
  to {
    opacity: 1;
    background: white;
  }
}

@keyframes Auth_bg {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
