@import "./antd.scss";
@import "./theme.scss";
.form {
  position: relative;
  width: 300px;
  font: {
    size: 18px;
  }

  &_field {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(100, 100, 100);

    &:focus {
      border-color: $color-primary;
    }
  }

  &_input {
    padding: 0 10px 0 15px;
    border: none;
    font: {
      size: 16px;
      weight: 600;
    }
    width: 100%;
  }
  &_submit {
    margin-top: 10px;
  }
  &_error {
    position: absolute;
    left: 20px;
    bottom: -20px;

    white-space: nowrap;
    text-align: center;
    color: red;

    font: {
      size: 14px;
      weight: 600;
    }
    animation: form_error 0.25s ease-in;
  }
}
@keyframes form_error {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
input {
  &:focus {
    outline: none;
  }
  border: none;
}
.select {
  color: $color-primary;
}
.select-bg {
  background: $color-primary !important;
}
.btn {
  outline: none;
  border: 1px solid transparent;

  font: {
    size: 18px;
    weight: 600;
  }

  padding: 0 20px;

  border-radius: 50px;
  min-height: 45px;
  min-width: 100px;

  transition: background 0.25s ease-in-out;
  cursor: pointer;
  &:active {
    box-shadow: 0 1.5px 3.1px rgba(0, 0, 0, 0.035), 0 12px 25px rgba(0, 0, 0, 0.07);
  }
  &:disabled {
    cursor: not-allowed;
  }
  &-success {
    background: $color-primary;
    color: white;

    &:hover {
      background: $color-primary-hover;
    }

    &-outline {
      border-color: $color-primary;
      color: white;
      background: none;

      &:hover {
        background: $color-primary-hover;
      }
    }
  }
  &-info {
    background: $color-info;
    color: white;

    &:hover {
      background: $color-info-hover;
    }
    &-outline {
      border-color: $color-info;
      color: white;
      background: none;

      &:hover {
        background: $color-info-hover;
      }
    }
  }
  &-warning {
    background: $color-warning;
    color: white;

    &:hover {
      background: $color-warning-hover;
    }
    &-outline {
      border-color: $color-warning;
      color: white;
      background: none;

      &:hover {
        background: $color-warning-hover;
      }
    }
  }
  &-danger {
    background: $color-danger;
    color: white;

    &:hover {
      background: $color-danger-hover;
    }
    &-outline {
      border-color: $color-danger;
      color: white;
      background: none;

      &:hover {
        background: $color-danger-hover;
      }
    }
  }
}
.ant-notification {
  z-index: 999;
}
.icon {
  transform: translateY(5px);
}
.coin {
  color: #ffd000;
}
.tag {
  transform: translateY(-2px);
  font-weight: bold;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
