$color-primary: #1ed760;
$color-primary-hover: rgb(11, 194, 75);
$color-danger: #ff0000;
$color-danger-hover: #e40000;
$color-warning: #ffb818;
$color-warning-hover: #e49f00;
$color-info: #3ea1c8;
$color-info-hover: #2b89ad;
